body{
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    background-color: aqua;
}

.container{
    width: 80%;
    height: 100px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.container h1{
    margin: 0 auto;
}

#add-todo{
    display: flex;
    flex-direction: column;
}

.info{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.label{
    margin: auto 0;
    width: 120px;
}

input, textarea, select{
    width: 80%;
} 

input, select{
    width: 80%;
    height: 40px;
    border-radius: 10px;
    border: none;
} 

#add-btn{
    width: 120px;
    height: 35px;
    border-radius: 10px;
    border: none;
    background-color: #fff;
    cursor: pointer;
    font-size: 14px;
    margin: 0 auto;
}

.todos h1{
    width: 80%;
    text-align: center;
    margin-left: 120px;
    margin-top: 30px;
}

.todo{
    border: 3px solid #000;
    margin-left: 120px;
    width: 80%;
    border-radius: 10px;
    padding: 15px;
    margin-top: 30px;
    font-size: 24px;
    word-wrap: break-word;
}

i{
    color: #000;
    font-size: 58px;
}

#done .todo{
    background-color: gray;
}